
.wrap{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height:600px;
    border-radius: 1%;
}
.box_a{
    width: 100%;
    height: 40%;
    background: grey;
    margin-bottom: 5px;
}
.box_b_c{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;


}
.b{
    width: 80%;
    height: 100%;
    background: blueviolet;
    margin-right: 5px;
}
.c{
    width: 20%;
    height: 100%;
    background: aqua;
}
.span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Book Antiqua";
}
@media screen and (max-width: 800px){
.box_b_c{
    flex-direction: column;
}
    .b{
        width: 100%;
        margin-bottom:5px ;
    }
    .c{
        width: 100%;
    }
}